
<%= render template: "seewt/header" %>


<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>

<div class="container">
    <div class="container_wrap">

	    <div class="header_top">
	      <div class="col-sm-3 logo"><a href="/"><img src="<%= asset_path 'logo.png' %>" alt=""/></a></div>
	      <div class="col-sm-6 nav">
	        <ul>
	          <li><span class="simptip-position-bottom simptip-movable" data-tooltip="drama"><a href="drama.html"> </a></span></li>
	          <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"><a href="movie.html"> </a> </span></li>
	          <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv show"><a href="tv_show.html"> </a></span></li>
	          <!-- <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv show"><a href="tv_show.html"> </a></span></li> -->
	          <!-- <li><span class="simptip-position-bottom simptip-movable" data-tooltip="live"><a href="live.html"> </a></span></li> -->
	          <!-- <li><span class="simptip-position-bottom simptip-movable" data-tooltip="more"><a href="more.html"> </a></span></li> -->
	        </ul>
	      </div>
	      <div class="col-sm-3 header_right">
	        <ul class="header_right_box">
	          <li><img src="<%= asset_path 'p1.png' %>" alt=""/></li>
	          <li><p><a href="login.html">Login</a></p></li>
	          <!-- <li class="last"><i class="edit"> </i></li> -->
	          <div class="clearfix"> </div>
	        </ul>
	      </div>
	      <div class="clearfix"> </div>
	    </div>
	    <div class="slider">
	      <div class="callbacks_container">
	        <ul class="rslides" id="slider">
	          <li>
	            <img src="<%= asset_path 'banner.jpg' %>" class="img-responsive" alt=""/>
	            <div class="button">
	              <a href="/play/<%= @banner_vtname %>" class="hvr-shutter-out-horizontal">Watch Now</a>
	            </div>
	          </li>
	          <li>
	            <img src="<%= asset_path 'banner1.jpg' %>" class="img-responsive" alt=""/>
	            <div class="button">
	              <a href="/play/<%= @banner1_vtname %>" class="hvr-shutter-out-horizontal">Watch Now</a>
	            </div>
	          </li>
	          <li>
	            <img src="<%= asset_path 'banner2.jpg' %>" class="img-responsive" alt=""/>
	            <div class="button">
	            <a href="/play/<%= @banner2_vtname %>" class="hvr-shutter-out-horizontal">Watch Now</a>
	            </div>
	          </li>
	        </ul>
	      </div>
	      <div class="banner_desc">
	        <div class="col-md-9">
	          <ul class="list_1">
	            <li>Published <span class="m_1">Feb 20, 2015</span></li>
	            <li>Updated <span class="m_1">Oct 30 2016</span></li>
	            <li>Rating <span class="m_1"><img src="<%= asset_path 'rating.png' %>" alt=""/></span></li>
	          </ul>
	        </div>
	        <div class="col-md-3 grid_1">
	          <ul class="list_1 list_2">
	            <li><i class="icon1"> </i><p>1</p></li>
	            <li><i class="icon2"> </i><p>0</p></li>
	            <!-- <li><i class="icon3"> </i><p>546</p></li> -->
	          </ul>
	        </div>
	      </div>
	    </div>


		<div class="content" style="padding: 2em;margin: 0;">

			<!-- content -->
			<div class="row" style="padding: 0 0 1em 0;margin: 0;">
				<div class="col-md-8" style="padding: 0 0.5em 0 0;margin: 0;">
					<!-- col1_7 -->
					<div class="row" style="padding: 0;margin: 0;">
						<!-- SEEWT!周刊 -->
						<h1 class="m_2">SEEWT!周刊</h1>
					</div>
					<div class="row" style="padding: 0;margin: 0;">
						<div class="col-md-12" style="padding: 0;margin: 0;"> 
							<!-- col1_7_row2_col1_12 -->
							<a href="/album/weelk_post"><img src="<%= asset_path 'weekly_post.jpg' %>" class="img-responsive" alt=""/></a>
				  		</div>
					</div>
				</div>

				<div class="col-md-4" style="padding: 0 0 0 0.5em;margin: 0;">
					<!-- col2_5 -->
					<div class="row" style="padding: 0;margin: 0;">
						<!-- SEEWT!周刊 -->
						<h1 class="m_2">最强档</h1>
					</div>

					<div class="row" style="padding: 0 0 0.25em 0;margin: 0;">
						<div class="col-md-12" style="padding: 0;margin: 0;"> 
							<!-- col1_7_row2_col1_12 -->
							<a href="/play/<%= @hot_vtname %>"><img src="<%= asset_path 'hot.jpg' %>" class="img-responsive" alt=""/></a>
							<p class="top_left_caption">爸爸去哪儿第四季10/28</p>
							<!-- <ul style="position: absolute;z-index: 2;bottom: : 0;right: 0px;list-style: none;display: inline-block;color: white;padding: 1%;">
				    			<li><i class="icon1"> </i><p>1</p></li>
				    			<li><i class="icon2"> </i><p>0</p></li>
				    		</ul> -->
				  		</div>
					</div>

					<dir class="row" style="margin: 0;padding: 0;">
						
						<div class="col-md-6" style="margin: 0;padding: 0;">

							<div class="row" style="padding: 0.25em 0;margin: 0;">

								<div class="col-md-12" style="padding: 0;margin: 0;"> 
									<!-- col1_7_row2_col1_12 -->
									<a href="/play/<%= @hot6_vtname %>"><img src="<%= asset_path 'hot6.jpg' %>" class="img-responsive" alt=""/></a>
									<p class="top_left_caption">一年级毕业季10/29</p>
						  		</div>

							</div>

							<div class="row" style="padding: 0.25em 0 0 0;margin: 0;">

								<div class="col-md-6" style="padding: 0 0.25em 0 0;margin: 0;"> 
									<a href="/play/<%= @hot4_vtname %>"><img src="<%= asset_path 'hot4.jpg' %>" class="img-responsive" alt=""/></a>
									<p class="bottom_left_caption">惊天魔盗团2</p>
						  		</div>

								<div class="col-md-6" style="padding: 0 0 0 0.25em;margin: 0;"> 
									<a href="/play/<%= @hot5_vtname %>"><img src="<%= asset_path 'hot5.jpg' %>" class="img-responsive" alt=""/></a>
									<p class="bottom_right_caption">釜山行</p>
						  		</div>

							</div>
							
						</div>

						<div class="col-md-6" style="margin: 0;padding: 0;">

							<div class="row" style="padding: 0.25em 0;margin: 0;">

								<div class="col-md-6" style="padding: 0 0 0 0.5em;margin: 0;"> 
									<a href="/play/<%= @hot2_vtname %>"><img src="<%= asset_path 'hot2.jpg' %>" class="img-responsive" alt=""/></a>
									<p class="bottom_right_caption">追凶者也</p>
						  		</div>

								<div class="col-md-6" style="padding: 0 0 0 0.5em;margin: 0;"> 
									<a href="/play/<%= @hot3_vtname %>"><img src="<%= asset_path 'hot3.jpg' %>" class="img-responsive" alt=""/></a>
									<p class="bottom_right_caption">独立日2</p>
						  		</div>

							</div>

							<div class="row" style="padding: 0.25em 0 0 0;margin: 0;">

								<div class="col-md-12" style="padding: 0 0 0 0.5em;margin: 0;"> 
									<!-- col1_7_row2_col1_12 -->
									<a href="/play/<%= @hot7_vtname %>"><img src="<%= asset_path 'hot7.jpg' %>" class="img-responsive" alt=""/></a>
									<p class="bottom_right_caption">西部世界第一季</p>
						  		</div>

							</div>
							
						</div>

					</dir>

					

				</div>

			</div>

			<!-- <div class="row" style="padding: 0;margin: 0;">
				row test
			</div> -->

			<div class="row" style="padding: 1em 0;margin: 0;">
				<!-- row2 -->

				<div class="row" style="padding: 0;margin: 0;">
					<!-- SEEWT!周刊 -->
					<h1 class="m_2">看看</h1>
				</div>

				<div class="row" style="padding: 0 0 0.5em 0;margin: 0;">

					<div class="col-md-9" style="padding: 0;margin: 0;"> 
						<!-- col1_7_row2_col1_12 -->

						

						<div class="col-md-6" style="padding: 0 0.5em 0 0;margin: 0;"> 

							<div class="row" style="padding: 0;margin: 0;">
								<div class="col-md-12" style="padding: 0;margin: 0;"> 
									<a href="/play/<%= @kankan_vtname %>"><img src="<%= asset_path 'kankan.jpg' %>" class="img-responsive" alt=""/></a>
						  		</div>
							</div>

							<div class="row" style="padding: 0;margin: 0;background-color: #CF4647;">
								<div class="col-md-8" style="padding: 1em;margin: 0;background-color: white;">
									<!-- <h1 class="m_2"><a href="single.html">星际穿越</a></h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia diam in congue ullamcorper. Phasellus quis iaculis risus, vitae dictum mauris. Donec id laoreet nisi. Proin porta tempor turpis non imperdiet.
									Nulla eros risus, aliquet non laoreet nec, accumsan sit amet tellus. Mauris vitae odio elit. Mauris tellus est, fermentum in molestie placerat, ullamcorper at [...]</p> -->
									<h5 class="m_2">星际穿越</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia diam in congue ullamcorper. Phasellus quis iaculis risus, vitae dictum mauris. Donec id laoreet nisi.<br>&nbsp;<br>&nbsp;</p>
						  		</div>
								<div class="col-md-4" style="padding: 1em;margin: 0;"> 

							   	    <ul class="list_6">
						    			<li>Administrator</li>
						    			<li>March 1, 2015</li>
						    			<li>Rating : &nbsp;&nbsp;9.2</li>
						    			<div class="clearfix"> </div>
						    		</ul>

						  		</div>
							</div>

				  		</div>

				  		<div class="col-md-6" style="padding: 0 0.5em;margin: 0;"> 
							<!-- col1_7_row2_col1_12 -->

							<div class="row" style="padding: 0;margin: 0;background-color: #F7A541;">


								<div class="col-md-4" style="padding: 1em;margin: 0;"> 

							   	    <ul class="list_6">
						    			<li>Administrator</li>
						    			<li>March 1, 2015</li>
						    			<li>Rating : &nbsp;&nbsp;9.2</li>
						    			<div class="clearfix"> </div>
						    		</ul>

						  		</div>

								<div class="col-md-8" style="padding: 1em;margin: 0;background-color: white;">
									<!-- <h1 class="m_2"><a href="single.html">星际穿越</a></h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia diam in congue ullamcorper. Phasellus quis iaculis risus, vitae dictum mauris. Donec id laoreet nisi. Proin porta tempor turpis non imperdiet.
									Nulla eros risus, aliquet non laoreet nec, accumsan sit amet tellus. Mauris vitae odio elit. Mauris tellus est, fermentum in molestie placerat, ullamcorper at [...]</p> -->
									<h5 class="m_2">盗梦空间</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia diam in congue ullamcorper. Phasellus quis iaculis risus, vitae dictum mauris. Donec id laoreet nisi.</p>
						  		</div>
							</div>



							<div class="row" style="padding: 0;margin: 0;">
								<div class="col-md-12" style="padding: 0;margin: 0;"> 
									<a href="/play/<%= @kankan2_vtname %>"><img src="<%= asset_path 'kankan2.jpg' %>" class="img-responsive" alt=""/></a>
						  		</div>
							</div>


				  		</div>

			  		</div>

			  		<div class="col-md-3" style="padding: 0 0 0 0.5em;margin: 0;"> 
						<!-- col1_7_row2_col1_12 -->

						<div class="row" style="padding: 0 0 0.5em 0;margin: 0;">
							<div class="col-md-12" style="padding: 0;margin: 0;background-color: #00B4CC"> 

								<div class="row" style="padding: 0;margin: 0;">
									<a href="/play/<%= @kankan3_vtname %>"><img src="<%= asset_path 'kankan3.jpg' %>" class="img-responsive" alt=""/></a>
								</div>
								<!-- <div class="row" style="padding: 1em;margin: 0;">
									<h5 class="m_2">星际穿越</h5>
								</div> -->
								<div class="row" style="padding: 1em;margin: 0;background-color: white;">
									<!-- <a href="/album/hot"><img src="<%= asset_path 'kankan3.jpg' %>" class="img-responsive" alt=""/></a> -->
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>


					  		</div>
						</div>




						<div class="row" style="padding: 0 0 0.5em 0;margin: 0;">
							<div class="col-md-12" style="padding: 0;margin: 0;background-color: #00B4CC"> 


								<div class="row" style="padding: 1em;margin: 0;background-color: #FFD;">
									<!-- <a href="/album/hot"><img src="<%= asset_path 'kankan3.jpg' %>" class="img-responsive" alt=""/></a> -->
									<p>Lorem ipsum dolor sit amet. </p>
								</div>

								<div class="row" style="padding: 0;margin: 0;">
									<a href="/play/<%= @kankan3_vtname %>"><img src="<%= asset_path 'kankan3.jpg' %>" class="img-responsive" alt=""/></a>
								</div>
								<!-- <div class="row" style="padding: 1em;margin: 0;">
									<h5 class="m_2">星际穿越</h5>
								</div> -->


					  		</div>
						</div>

			  		</div>
				</div>




				<div class="row" style="padding: 0 0 0.5em 0;margin: 0;">

					<div class="col-md-3" style="padding: 0 0.5em 0 0;margin: 0;"> 
						<!-- col1_7_row2_col1_12 -->

						<div class="row" style="padding: 0 0 0.5em 0;margin: 0;">
							<div class="col-md-12" style="padding: 0;margin: 0;background-color: #00B4CC"> 

								<div class="row" style="padding: 0;margin: 0;">
									<a href="/play/<%= @kankan3_vtname %>"><img src="<%= asset_path 'kankan3.jpg' %>" class="img-responsive" alt=""/></a>
								</div>
								<!-- <div class="row" style="padding: 1em;margin: 0;">
									<h5 class="m_2">星际穿越</h5>
								</div> -->
								<div class="row" style="padding: 1em;margin: 0;background-color: white;">
									<!-- <a href="/album/hot"><img src="<%= asset_path 'hot2.jpg' %>" class="img-responsive" alt=""/></a> -->
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
								</div>


					  		</div>
						</div>




						<div class="row" style="padding: 0 0 0.5em 0;margin: 0;">
							<div class="col-md-12" style="padding: 0;margin: 0;background-color: #00B4CC"> 


								<div class="row" style="padding: 1em;margin: 0;background-color: #FFD;">
									<!-- <a href="/album/hot"><img src="<%= asset_path 'hot2.jpg' %>" class="img-responsive" alt=""/></a> -->
									<p>Lorem ipsum dolor sit amet. </p>
								</div>

								<div class="row" style="padding: 0;margin: 0;">
									<a href="/play/<%= @kankan3_vtname %>"><img src="<%= asset_path 'kankan3.jpg' %>" class="img-responsive" alt=""/></a>
								</div>
								<!-- <div class="row" style="padding: 1em;margin: 0;">
									<h5 class="m_2">星际穿越</h5>
								</div> -->


					  		</div>
						</div>

			  		</div>



					<div class="col-md-9" style="padding: 0;margin: 0;"> 
						<!-- col1_7_row2_col1_12 -->

						

						<div class="col-md-6" style="padding: 0 0.5em;margin: 0;"> 

							<div class="row" style="padding: 0;margin: 0;">
								<div class="col-md-12" style="padding: 0;margin: 0;"> 
									<a href="/play/<%= @kankan_vtname %>"><img src="<%= asset_path 'kankan.jpg' %>" class="img-responsive" alt=""/></a>
						  		</div>
							</div>

							<div class="row" style="padding: 0;margin: 0;background-color: #CF4647;">
								<div class="col-md-8" style="padding: 1em;margin: 0;background-color: white;">
									<!-- <h1 class="m_2"><a href="single.html">星际穿越</a></h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia diam in congue ullamcorper. Phasellus quis iaculis risus, vitae dictum mauris. Donec id laoreet nisi. Proin porta tempor turpis non imperdiet.
									Nulla eros risus, aliquet non laoreet nec, accumsan sit amet tellus. Mauris vitae odio elit. Mauris tellus est, fermentum in molestie placerat, ullamcorper at [...]</p> -->
									<h5 class="m_2">星际穿越</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia diam in congue ullamcorper. Phasellus quis iaculis risus, vitae dictum mauris. Donec id laoreet nisi.</p>
						  		</div>
								<div class="col-md-4" style="padding: 1em;margin: 0;"> 

							   	    <ul class="list_6">
						    			<li>Administrator</li>
						    			<li>March 1, 2015</li>
						    			<li>Rating : &nbsp;&nbsp;9.2</li>
						    			<div class="clearfix"> </div>
						    		</ul>

						  		</div>
							</div>


				  		</div>


				  		<div class="col-md-6" style="padding: 0 0 0 0.5em;margin: 0;"> 
							<!-- col1_7_row2_col1_12 -->

							<div class="row" style="padding: 0;margin: 0;background-color: #F7A541;">


								<div class="col-md-4" style="padding: 1em;margin: 0;"> 

							   	    <ul class="list_6">
						    			<li>Administrator</li>
						    			<li>March 1, 2015</li>
						    			<li>Rating : &nbsp;&nbsp;9.2</li>
						    			<div class="clearfix"> </div>
						    		</ul>

						  		</div>

								<div class="col-md-8" style="padding: 1em;margin: 0;background-color: white;">
									<!-- <h1 class="m_2"><a href="single.html">星际穿越</a></h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia diam in congue ullamcorper. Phasellus quis iaculis risus, vitae dictum mauris. Donec id laoreet nisi. Proin porta tempor turpis non imperdiet.
									Nulla eros risus, aliquet non laoreet nec, accumsan sit amet tellus. Mauris vitae odio elit. Mauris tellus est, fermentum in molestie placerat, ullamcorper at [...]</p> -->
									<h5 class="m_2">盗梦空间</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia diam in congue ullamcorper. Phasellus quis iaculis risus, vitae dictum mauris. Donec id laoreet nisi.</p>
						  		</div>
							</div>



							<div class="row" style="padding: 0;margin: 0;">
								<div class="col-md-12" style="padding: 0;margin: 0;"> 
									<a href="/play/<%= @kankan2_vtname %>"><img src="<%= asset_path 'kankan2.jpg' %>" class="img-responsive" alt=""/></a>
						  		</div>
							</div>


				  		</div>

			  		</div>

			  		
				</div>

				

			</div>

		</div>



	</div>
</div>





<%= render template: "seewt/footer" %>
